@layer base {
    html {
        scroll-behavior: smooth;
        background: linear-gradient(174deg, rgba(44, 1, 131, 0.38) 27.69%, rgba(5, 0, 15, 0.36) 77.69%, rgba(0, 0, 0, 0.36) 127.69%), #000000;

        background-size: cover;
        background-repeat: no-repeat;
    }
}
